@use '../../sass/variables' as gv;

.overlayCard {
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    min-width: 20vw;
    min-height: 20vh;
    z-index:99999;
    border-radius: 1.4rem;
    padding: 1.6rem;
    transition: all 0.5s ease-in-out;
    &__close {
        cursor: pointer;
        // fill:gv.$yellow-50;
        position: absolute;
        right:1.6rem;
    }
}