@use '../../sass/variables' as gv;

.modal {
    position: fixed;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    min-width: 20vw;
    min-height: 20vh;
    z-index:9999999;
    border-radius: 1.4rem;
    padding: 3rem 1.6rem 1.6rem;
    transition: all 0.5s ease-in-out;
    overflow: auto;
    &__close {
        cursor: pointer;
        position: absolute;
        top:0.5rem;
        right:1.6rem;
        z-index: 9999;
        border-radius: 50%;
    }
    
}