@use '../../sass/mq' as media;

.orders {
    display: flex;
    @include media.mq(sm){
        flex-direction: column;
    }
    &__content {
        flex-grow: 1;
    }
    &__list {
        position: relative;
        padding:5rem;
        @include media.mq(md){
            padding:3rem
        }
        @include media.mq(sm){
            padding:0.5rem
        }
    }
    &__message { 
        height: 100%;
        width:100%;  
        position: relative;
        h2 { 
            height: 100%;     
            display: grid;
            place-items: center;
            color: #cfae0b;
            font-weight: 300;
            font-size: 3rem;
            letter-spacing: 2px
        }
        &_type {
            padding:2rem;
            button {
                margin-right:1rem;
            }
        }
        &_content {
            padding:5rem;
        }
        &_title {
            button {
                font-size: 1.6rem;
            }
        }
        &_item {
            font-size:1.4rem;
            color:#333;
            font-weight: 300;       
        }
    }
}