@use '../../sass/variables' as gv;

.photoGallery {
    margin-top: 10.4rem;
    figure {
        position: relative;
        width:100%;
        img {
            width:100%;
        }
    }
    &__switch {
        position: absolute;
        top: 18rem;
        left: 5rem;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 10rem;
            color:gv.$white-color;
        }
        button {
            all:unset;
            align-self: center;
            background-color: darken(gv.$main-color, 5%);
            padding: 0.5rem 2rem;
            border-radius: 1.5rem;
            cursor: pointer;
            &:hover {
                background-color: gv.$main-color;
            }
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 8vw);
        gap:1rem;
        margin-top: 5rem;
    }
}