@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.product {
  &__wrapper {
    text-align: center;
    margin: 5rem;
  }

  &__header {
    h1 {
      font-size: 4rem;
      font-weight: 200;
    }

    &_copy {
      cursor: pointer;
      margin-left: 0.5rem;
    }

    &_date {
      letter-spacing: 1px;
      color: #00000091;
      font-weight: 400;
    }
  }

  &__body {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
  }

  &__form {
    width: 50%;
    text-align: start;
    input {
      padding: 0.5rem 1rem !important;
    }

    &_page {
      text-transform: capitalize;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    button {
      margin-right: 1rem;
    }
  }

  &__options {
    margin: 6rem 0 0 2rem;

    h2 {
      span {
        color: rgb(3, 116, 3);
        cursor: pointer;
      }
    }

    &_separator {
      margin: 1rem 0;
      height: 1px;
      width: 100%;
      background-color: #ccc;
    }

    &_list {
      list-style: none;
      margin: 1rem 0;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        position: relative;
        min-width: max-content;
        background-color: var.$white-color;
        margin: 1rem 1rem 0 0;
        border-radius: 0.3rem;
        box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);

        span:first-child {
          padding: 0.5rem 1rem;
        }
        span:last-child {
          display: inline-block;
          text-align: center;
          background-color: #e7e7e7;
          padding: 0.3rem;
          width: 2.5rem;
          color: darkred;
          cursor: pointer;
        }
      }
    }

    &_question {
      input {
        padding: 0.2rem 1rem !important;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 0.2rem;
        &::placeholder {
          font-size: 1.2rem;
        }
      }
    }

    &_header {
      display: flex;
      align-items: center;
      margin: 2rem 0 1rem 0;
      span {
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        clip-path: circle();
        color: darkred;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: inset -2px 0px 4px 2px rgb(0 0 0 / 30%);
      }
    }

    &_actions {
      span {
        margin-right: 1rem;
        width: 5rem;
        height: 5rem;
        background-color: var.$bg-color;
        padding: 0.3rem;
        border-radius: 0.3rem;
        color: var.$white-color;
        cursor: pointer;
      }
    }
  }
}
