.blog {
    margin-top: 15rem;
    &__wrapper {
        width: 70%;
        border-radius: 10rem;
        box-shadow: 1px 3px 12px 3px rgb(0 0 0 / 50%);
        padding: 5rem;
        figure {
            height: 30rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__content {
        margin-top: 3rem;
    }
    &__date {
        font-weight: 300;
    }

}