@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.input {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    label {
        display: block;
        color: var.$white-color;
        font-style: italic;
        margin-bottom: 0.5rem;
        transform: translateX(10px);
        @include media.mq(sm) {
            font-size:1.4rem;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 2rem;
        color:var.$full-light-color;
        @include media.mq(sm) {
            left:1.3rem;
        }
        svg {
            width: 2.5rem;
            height: 2.5rem;
            @include media.mq(sm) {
                width: 2rem;
                height: 2rem;
            }
        }

        &_disabled {
            color:#d2d2d2;
        }
    }
    input {
        all: unset;
        background-color: var.$white-color;
        width: 100%;
        border: 2px solid transparent;
        border-radius: 1.6rem;
        box-shadow: 2px 0px 11px 0px rgb(0 0 0 / 30%);
        @include media.mq(sm) {
            padding: 1rem 1rem 1rem 4rem !important;
        }
        &::placeholder {
            font-size:1.4rem;
            font-style:italic;
            color:var.$full-light-color;
            @include media.mq(sm) {
                font-size: 1.3rem;
            }
        }

        &:disabled {
            background-color: #ececec !important;
            color:#868686  !important;
            &::placeholder {
                color:#868686  !important;
            }
        }
    }
    strong {
        position: absolute;
        top: 65%;
        right: 1rem;
        transform: translateY(-50%);
        font-size: 0.9rem;
        color: #ff6580;
    }
    &__error {
        box-shadow: 1px 2px 10px 5px rgb(255 108 121 / 30%) !important;
        border: 2px solid #ff6580 !important;
        &_text {
            position: absolute;
            bottom:-2.3rem;
            left:1.5rem;
            color: #ff6580;
            font-size: 1.3rem;
            display: inline-block;
            margin-top: 0.5rem;
            font-style: italic;
        }
    }

    &__upload {
        input {
            display:none;
        }
        label {
            border: 1px dashed;
            padding: 1.5rem 1.5rem 1.5rem 5.5rem;
            border-radius: 1.6rem;
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 300;
        }
        span {
            left:3rem;
        }

        &_label {
            color: #fff;
            font-style: italic;
            margin-bottom: 1rem;
            transform: translateX(10px);
        }
    }

    &__right {
        text-align: right;
        input {
            padding:1.5rem 5.5rem 1.5rem 1.5rem !important;
        }
        span {
            left:unset;
            right:2rem;
            @include media.mq(sm) {
                left:unset;
                right:1.3rem
            }
        }
        label {
            transform: translateX(-10px);
        }
    }
}