.alert {
    position: fixed;
    top:10rem;
    padding: 1.4rem;
    border-radius: 0.2rem;
    max-width: 50rem;
    transition: all 0.3s ease-in;
    box-shadow: inset -1px 1px 6px 1px rgb(0 0 0 / 30%);
    z-index:999999;
    p {
        display: flex;
        align-items: center;
    }
    span {
        width: 3rem;
        height: 3rem;
        clip-path: circle();
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    i {
        font-size: 1.4rem;
        transform: translateY(3px);
        margin-left:0.5rem;
    }
}
/**
    color:#065601
    bg:#9ff9a0
*/