@use '../../sass/variables' as var;
@use '../../sass/media' as media;


.products {
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: -webkit-center;
    h1 {
        padding:5rem 0;
    }
    &__action {
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
    }

    &__delete,
    &__edit {
        display: flex;
        align-items: center;
        justify-content: center;
        width:3rem;
        height: 3rem;
        border-radius: 50%;
        border:1px solid red;
        color:red;
    }

    &__edit {
        border: 1px solid #0dcaf0;
        color:#0dcaf0;
    }

    &__confirmDelete {
        text-align: center;
        padding: 0.2rem;
        font-weight: 300
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        all: unset;
        text-align: left !important;
        margin:0 1rem 1rem 0;
        width: 25rem;
    }

    &__order {
        position: absolute;
        top:5rem;
        right:15rem;
    }
}