@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.pagination {
    display: flex;
    align-items: center;
    padding:4rem 0;
    button {
        color:var.$main-color;
        margin-right:2.5rem;
        border:0;
        outline: none;
        @include media.mq(xs) {
            margin-right: 2rem;
        }
    }
    &__page {
        background-color: var.$white-color;
        width:3rem;
        height: 3rem;
        border-radius: 50%;
        display: -ms-grid;
        display: grid;
        place-items: center;
        &_active {
            background-color: var.$main-color;
            color:var.$white-color !important;
        }
    }

    &__off {
        color:#ccc !important;
    }
}