@use 'variables' as gv;
@use 'mq' as *;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include mq(xl) {
        font-size: 60%;
    }
    @include mq(lg){
        font-size: 58%;
    }
    @include mq(md) {
        font-size: 56%;
    }
    @include mq(sm) {
        font-size: 54%;
    }
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: gv.$main-font;
    font-size: 1.6rem;
    line-height: 1.6;
}
.container {
    width:85%;
    margin:0 auto;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

// customize carousel
.control-dots {
    .dot {
        width: 2rem !important;
        height: 2rem !important;
    }
    .selected {
        background-color: gv.$main-color !important;
    }
}

// Customize Loader Size
.spinner-border {
    width:100% !important;
    height: 100% !important;
}