@use 'variables' as gv;
@use 'mq' as *;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    @include mq(xl) {
        font-size: 60%;
    }
    @include mq(lg){
        font-size: 58%;
    }
    @include mq(md) {
        font-size: 56%;
    }
    @include mq(sm) {
        font-size: 54%;
    }
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: gv.$main-font;
    font-size: 1.6rem;
    line-height: 1.6;

}

#root {
 overflow-x:hidden;

}
.container {
    max-width:85% !important;
    margin:0 auto;
    @include mq(xl){
        max-width: 90% !important;
    }
    @include mq(md) {
        max-width: 100% !important;
        margin:0 !important;
        height: 100%;
    }
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

.order_item {
    svg {
        @include mq(xs){
            margin-top:1rem;
            margin-bottom: 0 !important;
            order:2;
            transform: rotate(90deg);
        }
    }
}

// customize carousel
.control-dots {
    .dot {
        width: 2rem !important;
        height: 2rem !important;
        @include mq(xs){
            width:1.5rem !important;
            height: 1.5rem !important;
            margin:0 5px !important;
        }
    }
    .selected {
        background-color: gv.$main-color !important;
    }
}

// Customize Loader Size
.spinner-border {
    width:100% !important;
    height: 100% !important;
}

