@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');


// Fonts
$main-font:'Roboto', sans-serif;
$second-font:'Montserrat', sans-serif;
$third-font:'Cairo', sans-serif;

// Colors
$main-color:#F8C600;
$alt-main-color:#fff802;
$bg-color:#323431;
$light-black:#3B3B37;
$light-gray:#707070;
$gray-color:#575757;
$white-color:#fff;
$black-color:#000;
$off-white:#f2f2f299;
$tag-color:#004990

