@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.messages {
    background-color: #f1f1f1;
    min-height: 100vh;
    
    @include media.mq(xxs){
        padding-top:8rem;
    }
    
    &__wrapper {
        padding:8rem 4rem;
        width:75%;
        @include media.mq(md) {
            width:85%;
        }
        @include media.mq(md) {
            width:100%;
        }
        @include media.mq(xs) {
            padding:8rem 2rem;
        }
        @include media.mq(xxs) {
            padding:0;
        }
    }
}

