@use '../../sass/variables' as var;
@use '../../sass/media' as media;


.blog {
    &__wrapper {
        text-align: center;
        margin: 5rem;
    }

    &__header {
        h1 {
            padding:3rem 0 0 0 !important;
        }

        &_copy {
            cursor: pointer;
            margin-left:0.5rem;
        }

        &_date {
            letter-spacing: 1px;
            color: #00000091;
            font-weight: 400;
        }
    }

    &__body {
        margin-top: 5rem;
        display: flex;
        justify-content:center;
        
    }

    &__form {
        width:78%;
        text-align: start;
        input {
            padding:0.5rem 1rem !important;
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        button {
            margin-right:1rem;
        }
    }
}
