@use '../../sass/variables' as gv;
.header {
    position: relative;
    color: gv.$white-color;
    height: 70vh;
    margin-bottom: 5rem;
    figure {
        position: absolute;
        height: 70vh;
        width:100%;
        z-index:-1;
        filter:blur(0.8rem);        
        img {
            width:100%;
            height: 100%;
        }
    }
    &__content {
        width: 65%;
        padding-left: 5rem;
        h1 {
            padding: 3rem 0;
            font-size: 5rem;
            text-transform: capitalize;
        }
    }
    &__description {
        font-weight: 200;
        font-family: gv.$second-font;
        margin-bottom: 2rem;
    }
    &__rating {
        display: flex;
        align-items: center;
        &_num {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            &_value {
                margin-right: 0.5rem;
            }
        }
        &_student {
            span {
                margin-right: 0.5rem;
            }
        }
    }
    &__creator {
        margin-bottom: 2rem;
        &_update {
            span {
                color:gv.$main-color
            }
        }
    }

    &__cta {
        button {
            all: unset;
            border: 2px solid gv.$white-color;
            padding: 0.5rem 1rem;
            border-radius: 1.6rem;
            margin-right: 1.5rem;
            cursor: pointer;
            &:hover {
                background-color: lighten(gv.$white-color, 80%);
                color:gv.$bg-color;
            }
        }
    }
}