@use '../../sass/variables' as gv;
@use '../../sass/mq' as media;

.blog {
    width:90%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    @include media.mq(md){
        width:100%;
        box-shadow: 1px 4px 11px 2px rgb(0 0 0 / 30%);
        overflow: hidden;
        border-radius: 5rem;
    }
    @include media.mq(sm){
        flex-direction: column;
        width:65%;
        height: unset;
    }
    @include media.mq(xs){
        width: 95%;
    }
    figure {
        width:50rem;
        height:100%;
        margin-right: 3rem;
        overflow: hidden;
        border-radius: 0.5rem;
        @include media.mq(md){
            margin: 0;
            border-radius: unset;
        }
        @include media.mq(sm){
            width: 100%;
        }
        img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        border: 1px solid lighten(gv.$light-black, 50%);
        border-radius: 10rem;
        box-shadow: 1px 4px 11px 2px rgb(0 0 0 / 30%);
        padding:2rem 5rem;
        font-family: gv.$second-font;
        @include media.mq(md){
            box-shadow: unset;
            border-radius: unset;
            padding:1.5rem 3rem;
        }
        h3 {
            margin-top:2rem;
            font-weight: 400;
        }
        &_date {
            font-weight: 300;
            font-size:1.4rem;
        }
        &_par {
            font-size: 1.4rem;
            font-weight: 300;
        }
        button {
            all:unset;
            float: right;
            border: 3px solid gv.$light-gray;
            color:gv.$light-black;
            border-radius: 1.6rem;
            cursor: pointer;
            padding:0.5rem 1rem;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 900;
            margin-right: 5rem;
            @include media.mq(md){
                margin-right: 0;
            }
            &:hover {
                background-color: darken(gv.$white-color, 5%);
            }
        }
    }
}