@use '../../sass/variables' as gv;

.sideMenu {
    min-height: 50rem;
    background-color: gv.$off-white;
    width:28%;
    display: flex;
   justify-content: flex-end;

    &__list {
        margin:5rem 2rem 0 0;
        li {
            width: 32rem;
            background-color: gv.$white-color;
            padding: 1rem 1.5rem;
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 300;
            svg {
                margin-right: 1rem;
            }
            &:hover {
                font-weight: 400;
            }
            &:hover svg {
                fill:gv.$main-color;
            }
        }
    }
}