@use '../../sass/variables' as gv;
@use '../../sass/mq' as media;

.sideMenu {
    min-height: 50rem;
    background-color: gv.$off-white;
    width:28%;
    display: flex;
   justify-content: flex-end;
   @include media.mq(lg){
       width:32%;
   }
   @include media.mq(md){
      width:39%;
    }
    @include media.mq(sm){
        width:100%;
        min-height: unset;
        justify-content: center;
    }
    &__list {
        margin:5rem 2rem 0 0;
        @include media.mq(sm){
            display: flex;
            align-items: center;
            margin: 2rem 2rem 0 0;
        }
        li {
            width: 32rem;
            background-color: gv.$white-color;
            padding: 1rem 1.5rem;
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 300;
            svg {
                margin-right: 1rem;
                @include media.mq(xs){
                    margin-bottom: 1rem;
                }
            }
            &:hover {
                font-weight: 400;
            }
            &:hover svg {
                fill:gv.$main-color;
            }
            @include media.mq(sm){
                width: unset;
                margin-right: 1rem;
                font-size: 1.2rem;
            }
            @include media.mq(xs){
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}