@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.decision {
    position: relative;
    padding:4rem;
    @include media.mq(xs){
        padding:2rem;
    }
    h2 {
        color:var.$main-color;
        text-align: center;
        margin-bottom:4rem
    }
    &__peers {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__peer {
        display: grid;
        place-items: center;
        h3 {
            font-size: 1.3rem;
            color:var.$second-color;
            margin-top:0.5rem;
            @include media.mq(xs){
                width: 12rem;
                text-align: center;
            }
        }
        &_photo {
            position: relative;
            width:8rem;
            height: 8rem;
            margin-bottom: 1.6rem;
            span {
                position: absolute;
                top: -10px;
                left: -11px;
                width: 10rem;
                height: 10rem;
                z-index: 1;
                clip-path: circle();
            }
            img {
                position: relative;
                width: 95%;
                height: 95%;
                z-index: 2;
                clip-path: circle();
            }
        }
        p {
            font-size: 1.3rem;
            color:var.$second-color;
            span {
                margin-right:1rem;
                @include media.mq(xxs){
                    font-size: 1rem;
                }
            }
            span:first-child {
                color:var.$white-color;
                background-color: var.$code-green-color;
                padding: 0.5rem;
                border-radius: 1rem;
            }
            span:last-child {
                color:var.$full-light-color;
                background-color: var.$main-color;
                padding: 0.5rem;
                border-radius: 1rem;
            }
        }
    }

    &__details {
        list-style: none;
        text-align: center;
        margin: 4rem 0;
        li {
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            span:first-child {
                margin-right:1rem;
                color:var.$main-color;
            }
            span:last-child {
                color:var.$second-color;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 3rem 0 0;

        button {
            all:unset;
            display: flex;
            align-items: center;
            padding:0.5rem 4rem;
            border-radius: 3rem;
            transition: all 0.2s ease-in;
            cursor: pointer;
            &:hover {
                box-shadow: 2px 4px 6px rgb(0 0 0 / 30%);
            }
            &:active {
                box-shadow: unset;
            }
            span:first-child {
                margin-right:1rem;
            }
            span:last-child {
                font-size: 1.8rem;;
            }

            @include media.mq(xxs){
                padding: 0.5rem 2rem;
            }
        }

        button:first-child {
            background-color: var.$state-green-color;
            span:first-child {
                color: green;
            }
        }
        button:last-child {
            background-color: var.$state-red-color;
            span:first-child {
                color: red;
            }
        }
    }

    &__close {
        position: absolute;
        top:2rem;
        right:2rem;
        box-shadow: 2px 4px 6px rgb(0 0 0 / 30%);
        border-radius: 50%;
        display: grid;
        place-items: center;
        color:var.$main-color;
        padding:0.5rem;
        z-index:9999;
        cursor: pointer;
    }
}