@use '../../sass/variables' as gv;

.footer {
    background-color: gv.$bg-color;
    margin-top: 3rem;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    &__logo {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        svg {
            width:18rem;
            height: 18rem;
        }
    }
    &__contact {
        all: unset;
        position: relative;
        width: 15rem;
        height: 5rem;
        background-color:rgba(gv.$main-color, 0.8);
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover{ 
            background-color:gv.$main-color;
        }
        &_title {
            font-family: gv.$second-font;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            transform: translateX(-3rem);
            color: gv.$white-color;
        }
        &_logo {
            display: flex;
            position: absolute;
            left: 1rem;
            width: 25%;
            height: 83%;
            background-color: gv.$light-black;
            border-radius: 50%;
            justify-content: center;
            color: gv.$white-color;
            align-items: center;
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    &__line {
        background-color: gv.$white-color;
        width: 1px;
        height: 25rem;
        transform: translate(-5rem, 1rem)
    }
    &__details {
        flex-grow: 7;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    &__link {
        color:gv.$white-color;
        font-size: 1.4rem;
    }
    &__social {
        text-align: end;
        margin:2rem 5rem;
        color:gv.$white-color;
        svg {
            width:2.5rem;
            height: 2.5rem;
            margin-left: 1rem;
            cursor:pointer;
        }
    }
    &__copyright {
        background-color: #192126;
        padding:1rem 0;
        text-align: center;
        color:gv.$white-color;
    }
}
