@use '../../sass/variables' as gv;

.verify {
    padding:15rem 0;
    background-color: #192126;
    h1 {
        color:gv.$white-color;
        margin-top:5rem
    }
    h4 {
        color: #fff;
        font-weight: 300;
        letter-spacing: 2px;
    }
    &__progress {
        position: relative;
        width: 38rem;
        height: 3rem;
        border: 1px solid #c4a50e;
        border-radius: 1rem;
        margin: 2rem auto;
        overflow: hidden;
        span {
            display: block;
            height: 100%;
            background-color:gv.$white-color;
            transition: all 0.3s ease;
        }
    }
}