@use '../../sass/variables' as var;
@use '../../sass/media' as media;


.notify {
     &__container {
         background-color: var.$white-color;
         position: absolute;
         top:5.6rem;
         right:5rem;
         width:30rem;
         box-shadow: -1px 0px 8px 2px rgb(0 0 0 / 30%);
         @include media.mq(md){
           top:5.6rem;
           right:3rem;
         }
         @include media.mq(xs) {
           top:4.7rem;
         }
 
         h4 {
           font-size: 1.4rem;
           font-weight: 500;
           padding: 1rem 0 1rem 1rem;
           border-bottom: 1px solid var.$full-light-color;
           color:var.$full-light-color;
           font-style: italic;
         }
         button {
           all: unset;
           padding: 1rem;
           font-size: 1.3rem;
           cursor: pointer;
           font-weight: 400;
           &:hover {
             text-decoration: underline;
           }
         }
     }
 
     &__list {
       list-style: none;
       padding:0;
       margin:0;
     }
     &__item {
       padding:1rem 1rem 0 1rem;
       border-bottom: 1px solid var.$full-light-color;
       cursor: pointer;
       transition: all 0.3s ease;
       &:hover {
         background-color: lighten(var.$full-light-color, 15);
         box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 30%);
       }
       h3 {
         font-size:1.4rem
       }
       p {
         font-size:1.3rem;
       }
     }
  }