@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.row {
    display: inline-flex !important;
    margin-top:0.3rem;
    td {
        width: 15rem;
        height: 8rem;
        font-size: 1.4rem;
        text-align: center;
        background-color: var.$white-color;
        color:var.$main-color;
        border-right: 1px solid var.$full-light-color;
        border-left: 1px solid var.$full-light-color;
        padding: 2.5rem 0;
        display: inline-block;
        font-weight: 400;
    }
    td {
        border-bottom: 2px solid var.$second-color;  
    }

    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        clip-path: circle();
    }
    
    &__id {
        position: relative;
        cursor: pointer;
        span {
            display: none !important;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            display: grid;
            place-items: center;
            cursor: pointer;
            color:var.$white-color;
        }
        &:hover span {
            display: grid !important;
        }
    }

    &__desc {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        transition: all 0.3s ease-in;
        cursor: pointer;
        span {
            position: absolute;
            top:0;
            left:0;
            display: none;
            place-items: center;
            width:100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            color:var.$white-color;
        }
        &:hover span{
            display: grid;
        }
    }
}