@use '../../sass/variables' as gv;

.header {
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 0;
    }
    &__contact_link {
        margin-right: 2.5rem;
        color: gv.$light-gray !important;
        font-size: 1.6rem;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
        &:hover &_phone {
            animation: phoneRing 0.2s ease-in-out infinite;
        }
        &:hover &_envelop {
            animation: envelopMove 1s ease-in-out infinite;
        }
    }
    &__options {
        display: flex;
        align-items: center;
    }
    &__social {
        margin-right: 4rem;
        color:rgba(gv.$main-color, 0.7);
        font-size: 2rem;
        &_icon {
            margin-left: 4rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color:gv.$main-color;
                transform:translateY(-3px)
            }
        }
    }
    &__lang {
        width:16rem;
    }
    &__navbar {
        width:100vw;
        position: fixed;
        z-index: 99999;
        top:6.5rem;
        background-color: gv.$bg-color;
        height: 10.4rem;
        transition: all 0.2s ease;
    }
    &__navBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width:10rem;
        height: 10rem;
    }
    &__links {
        margin: 1rem 4rem 1rem 8rem;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        margin: 1rem 3.5rem 1rem 0;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top:-4px;
            width:0;
            height: 1px;
            background-color: gv.$main-color;
            transition: all 0.3s ease;
        }
        &:hover::before {
            width:100%;
        }
    }
    &__link {
        color:gv.$white-color !important;
        font-size: 1.6rem;
        font-weight: 300 !important;
    }
    &__actions {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        width:15rem;
        margin-top: 2rem;
        color:gv.$white-color;
        svg {
            width:1.6rem;
            height: 1.6rem;
            cursor: pointer;
            &:hover {
                color:gv.$main-color;
            }
        }
        
    }
    &__signIn {
        cursor: pointer;
        margin-bottom: 1.2rem;
        svg {
            fill:gv.$white-color;
        }
        &:hover svg{
            fill:gv.$main-color;
        }
    }
    &__search {
        position: relative;
        margin-right: 2rem;
        input {
            all: unset;
            position: absolute;
            background-color: rgba(0,0,0,0.5);
            padding: 0.2rem 1rem;
            left: -19rem;
            opacity: 0; 
            transition: all 0.5s ease-in-out; 
            font-size: 1.4rem;
            &::placeholder {
                font-size: 1.4rem;
            } 
        }
    }

    &__onScroll {
        top:0;
        background-color: rgba(gv.$bg-color, 0.95);
    }

    &__up {
        display: none;
        position: fixed;
        right: 0;
        bottom: 2rem;
        width: 10rem;
        z-index: 999999999999999;
        cursor: pointer;
        &:hover svg {
            animation: envelopMove 1s ease-in-out infinite;
        }
        a {
            all: unset;
            display: inline-block;
            color: gv.$white-color;
            background-color: gv.$main-color;
            padding: 1.3rem;
            clip-path: circle();
        }
    }
}

@keyframes phoneRing {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(15deg);
    }
}

@keyframes envelopMove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform:translateY(0)
    }
}