@use '../../sass/variables' as gv;

.overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index:999999;
    &__arrow {
        color:gv.$white-color;
        position: absolute;
        cursor: pointer;
        svg {
            width:5rem;
            height: 5rem;
        }
        &_left {
            left: 27rem;
            top: 50%;
        }
        &_right {
            right: 27rem;
            top: 50%;
        }
    }
}