@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.social {
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var.$white-color;
    z-index: 999;
    color: var.$main-color;
    @include media.mq(md){
        top:unset;
        transform: unset;
        bottom:15%;
        left:10%;
        background-color: unset;
        flex-direction: row;
        color:var.$white-color;
    }
    @include media.mq(sm) {
        bottom:10%;
        left:25%;
    }
    @include media.mq(xs){
        bottom: 6%;
        left:16%;
    }
    @include media.mq(xs){
        left:10%;
    }
    span {
        margin-bottom:1.5rem;
        cursor: pointer;
        svg {
            width: 3rem;
            height: 3rem;
            transition: all 0.3s ease;
            &:hover {
                transform:translateY(-5px)
            }
        }

        @include media.mq(md){
           margin-bottom:0;
           margin-right:2rem;
        }
    }
}