@font-face {
  font-family: 'Careem';
  src: url(../asset/Careem_Regular.ttf) format('truetype');
}

:root {
  // fonts
  --main-font: 'Careem', sans-serif;

  // colors
  --main-color: #323431;
  --second-color: #f8c60071;
  --light-color: #f8c600a8;
  --full-light-color: #f8c60071;
  --state-red-color: #fcd4db;
  --state-green-color: #c7ffce;
  --state-yellow-color: #fbfcd4;
  --code-red-color: #ec4a0d;
  --code-yellow-color: #c7e81d;
  --code-green-color: #037a12;
  --white-color: #fff;
}

// fonts
$main-font: 'Roboto', sans-serif;
$second-font: 'Cairo', sans-serif;
$third-font: 'Montserrat', sans-serif;

// colors
$bg-color: #282828;
$main-color: #f8c600;
$light-color: #f7d962;
$light-black: #3b3b37;
$light-gray: #707070;
$white-color: #fff;
$second-color: #333;
$full-light-color: #f8c600;
