@use '../../sass/variables' as var;
@use '../../sass/media' as media;


.users {
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: -webkit-center;
    h1 {
        padding:5rem 0;
    }

    &__search {
        all: unset;
        text-align: left !important;
        margin-bottom: 1rem;
        width: 30rem;
    }

    &__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width:3rem;
        height: 3rem;
        border-radius: 50%;
        border:1px solid red;
        color:red;
    }

    &__confirmDelete {
        text-align: center;
        padding: 0.2rem;
        font-weight: 300
    }
}