@use '../../sass/variables' as gv;

.coursePayment {
    &__payment {
        width:100%;
        background-color: lighten(gv.$light-gray, 50%);
        height: 100%;
        box-shadow: 1px 0px 6px 0px rgb(0 0 0 / 30%);
        &_wrapper {
            width:80%;
            margin: 0 auto;
            form {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
            }
        }
    }
  
    &__options {
        p {
            padding-top:3rem;
            font-weight: 300;
            font-size: 1.4rem;
        }
        &_icons {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
        }
        span {
            margin-right: 1.5rem;
            cursor: pointer;
            opacity: 0.3;
            &:first-child svg {
                width:5rem;
                height: 5rem;
            }
        }
        &_mc {
            display: inline-flex;
            flex-direction: column;
            transform: translateY(1px);
            span {
                font-size: 1.2rem;
                margin-right: 0;
                margin-top: -1rem;
                font-weight: 500;
                
            }
        }
    }
    &__data {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 1rem;
            font-weight: 300;
            font-size: medium;
        }
        input:not([type=checkbox]) {
            all:unset;
            border-bottom: 1px solid lighten(gv.$light-gray, 20%);
            &::placeholder {
                font-weight: 300;
                font-size: 1.4rem;
                font-family: gv.$second-font;
            }
        }
    }
    p {
        font-weight: 300;
        font-size: 1.6rem;
    }
    &__info {
        display: flex;
        align-items: center;
        margin:3rem 0 0.5rem 0;
        &_data {
            width:8rem;
            margin-right: 2.5rem;
        }
    }

    &__expiry {
        &_wrapper {
            display: flex;
            align-items: center;
        }
        margin-right: 2.5rem;
    }

    &__select {
        position: relative;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        border-bottom: 2px solid lighten(gv.$light-gray, 20%);
        border-radius: 3px;
        select {
            position: relative;
            appearance: none;
            border: 0;
            width: 100%;
            background: transparent;
            padding: 0 1em 0 0;
            cursor: inherit; 
            z-index: 2;
            color:lighten(gv.$light-gray,15%);
            font-weight: 300;
            option {
                color:lighten(gv.$light-gray,15%);
                font-weight: 300;
            }
        }
       span {
            position: absolute;
            top:.2rem;
            right:0.2rem;
            z-index: 1;
            color: lighten(gv.$light-gray, 20%);
            svg {
                width:1.5rem;
                height: 1.5rem;
            }
        }
    }

    &__terms {
        display: flex;
        align-items: center;
        input {
            margin-right: 1rem;
        }
        a {
            color:gv.$main-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__complete {
        all: unset;
        position: relative;
        margin: 5rem;
        align-self: center;
        background-color: darken(gv.$main-color, 2%);
        color: gv.$white-color;
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
        width: 20rem;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: gv.$main-color
        }
    }
    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: -10%;
        opacity: 0;
        background-color: #ffb9b9;
        color: #4b0000;
        padding: 0.5rem 0;
        transition: all 0.3s ease;
        &_progress {
            width: 0%;
            height: 3px;
            border-radius: unset;
            position: absolute;
            bottom: 0;
            left:0;
            background-color: #ef2c2c;
            margin: 0;
            
        }
        &_expand {
            animation: expandErrorWidth 4.5s ease forwards alternate-reverse;
        }
        &_collapse {
            animation: collapseErrorWidth 0s ease;
        }
        span {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-flex;
            background-color: #fd8282;
            color: #ffe5e5;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            margin-right: 0.5rem;
        }
    }

    &__fawery {
        h1 {
            color: #006d95;
            background-color: #ffd228;
            padding: 0.5rem;
            border-radius: 0.8rem;
            font-size: 2rem;
            text-align: center;
            font-family: monospace;
        }
    }

    &__cash {
        h3 {
            color: #ff5722;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
            text-align: center;
            line-height: 1.6;
        }
        code {
            font-size: 1.6rem !important;
            background-color: #ddd;
            border-radius: 0.5rem;
            padding: 0.25rem;   
        }

        h4 {
            font-size: 1.4rem;
            text-align: center;
            padding: 0.5rem;
            color: #373737;
        }

        em {
            background-color: gold;
            padding: 0.25rem;
            border-radius: 0.5rem;   
        }
    }
}

@keyframes expandErrorWidth {
    from {
        width:0%;
    }
    to {
        width:100%
    }
}

@keyframes collapseErrorWidth {
    from {
        width:100;
    }
    to {
        width:0%
    }
}